.info-1,
.info-2,
.info-3 {
    width: 30%;
    color: rgb(246, 237, 237);
    text-shadow: 1px 1px 1px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 0.5rem 0 0;
    padding: 0.10em;
    border-radius: 5px;
    overflow: hidden;
}

.info-1 {
    background-image: url(/task-2/assets/task2-bg.jpeg);
}

.info-2 {
    background-image: url(/task-2/assets/task2-bg1.jpeg);
}

.info-3 {
    background-image: url(/task-2/assets/task2-bg2.jpg);
}

.all-infos {
    width: 100%;
    height: 250px;
    display: flex;
    align-content: space-between;
}